@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-6">
        <section>
            <h4>Choose a service to log in with.</h4>
            <hr />
            @{
                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                if (loginProviders.Count == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div>
                            <p>
                                <table>
                                    @foreach (var provider in loginProviders)
                                    {
                                        string media = "fa fa-";
                                        switch (provider.DisplayName)
                                        {
                                            case "Facebook":
                                                media += "facebook";
                                                break;
                                            case "Google":
                                                media += "google-plus";
                                                break;
                                            case "Microsoft":
                                                media += "windows";
                                                break;
                                        }
                                        <tr>
                                            <td>
                                                <i class="@media input-lg"></i>
                                            </td>

                                            <td>
                                                <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
